absl-py==2.1.0
accelerate==0.34.2
addict==2.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.6.0
appdirs==1.4.4
asttokens==2.4.1
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
blis==1.0.1
blobfile==3.0.0
bpy==4.2.0
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clip==1.0
cloudpathlib==0.19.0
cmake==3.30.4
colorlog==6.8.2
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
decorator==4.4.2
defusedxml==0.7.1
diffusers==0.19.3
distlib==0.3.8
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.8.0
ema-pytorch==0.7.0
embreex==2.17.7.post5
en_core_web_sm==3.8.0
executing==2.1.0
filelock==3.16.1
fire==0.7.0
fonttools==4.54.1
frozendict==2.4.4
fsspec==2024.9.0
ftfy==6.2.3
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2==2.1.5
google-auth==2.35.0
google-auth-oauthlib==1.2.1
GPUtil==1.4.0
groundingdino==0.1.0
grpcio==1.66.2
gs==0.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.1
humanize==4.11.0
hydra-core==1.3.2
hyperframe==6.0.1
identify==2.6.1
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iopath==0.1.10
ipython==8.28.0
ipywidgets==8.1.5
jaxtyping==0.2.34
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.13
kiui==0.2.14
kiwisolver==1.4.7
kornia==0.6.1
kornia_rs==0.1.5
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
lightning-utilities==0.11.7
line_profiler==4.1.3
lit==18.1.8
loguru==0.7.3
lpips==0.1.4
lxml==5.3.0
manifold3d==2.5.1
mapbox_earcut==1.0.2
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapy==1.2.2
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.6
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==3.3
ninja==1.11.1.3
nodeenv==1.9.1
numpy==1.24.1
nvidia-ml-py==12.535.161
nvitop==1.3.2
oauthlib==3.2.2
objaverse==0.1.7
objprint==0.3.0
omegaconf==2.3.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.4.0
pip==24.2
platformdirs==4.3.6
plyfile==1.1
point-e==0.0.0
portalocker==2.10.1
pre_commit==4.0.0
preshed==3.0.9
proglog==0.1.10
prompt_toolkit==3.0.48
protobuf==5.28.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycocotools==2.0.8
pycollada==0.8
pycparser==2.22
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
pyliblzfse==0.4.1
PyMCubes==0.1.6
pyparsing==3.1.4
pyre-extensions==0.0.29
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch3d==0.7.8
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
Rtree==1.3.0
safetensors==0.4.5
scikit-image==0.24.0
scipy==1.14.1
segment_anything==1.0
sentry-sdk==2.15.0
setproctitle==1.3.3
setuptools==75.1.0
shapely==2.0.6
shellingham==1.5.4
shtab==1.7.1
simple_knn==0.0.0
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
supervision==0.24.0
svg.path==6.3
sympy==1.13.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
thinc==8.3.2
tifffile==2024.9.20
timm==1.0.9
tokenizers==0.20.0
tomli==2.0.2
torch==2.0.1
torchaudio==2.0.2
torchmetrics==1.4.2
torchtyping==0.1.5
torchvision==0.15.2
tqdm==4.66.5
traitlets==5.14.3
transformers==4.45.1
trimesh==4.4.9
triton==2.0.0
typeguard==2.13.3
typer==0.12.5
typing_extensions==4.12.2
typing-inspect==0.9.0
tyro==0.8.11
tzdata==2024.2
urllib3==2.2.3
varname==0.13.5
vedo==2024.5.2
vhacdx==0.0.8.post1
virtualenv==20.26.6
viser==0.2.9
vtk==9.3.1
wandb==0.18.3
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websockets==13.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
wrapt==1.16.0
xatlas==0.0.9
xformers==0.0.20
xxhash==3.5.0
yapf==0.40.2
yourdfpy==0.0.56
zipp==3.20.2
zstandard==0.23.0
